@model WebApplication.Models.EmployeeModels.Contract

@{
    ViewData["Title"] = "Edit Contract";
}
@{
    Html.RenderPartial("_EmployeeDetailsLayout");
}
<h2>Contract</h2>


    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="ContractType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
               @Html.DisplayFor(m => m.ContractType)
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ContractPeriod" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.ContractPeriod)
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="IsProbation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div>
                   @if (Model.IsProbation)
                   {
                     <p> Yes </p>
                   }
                   else
                   { 
                       <p> No </p>
                   }
                </div>
            </div>
        </div>
@if (Model.IsProbation)
{

    <div class="form-group" id="probationPeriod" style="display:none;">
        <label asp-for="ProbationPeriod" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.DisplayFor(m => m.ProbationPeriod)
        </div>
    </div>
}
        <div class="form-group">
            <label asp-for="JoinDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.JoinDate)
            </div>
        </div>
       

    </div>
<div>
    <a asp-action="EditContract" asp-route-id="@Model.EmployeeId">Edit</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
